@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.layout {
  direction: rtl;
  lost-center: $layout-width;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  direction: ltr;
}
